<div  class="container" >
    <h3>
        <a routerLink="{{routes.rootPath+ routes.testModulePath + 
        routes.routeSeparator + routes.testPagePath}}">Navigate to Test Page</a> 
    </h3>
</div>