
<div class="container"  *ngFor="let testData of testViewData | async | groupTestDataByDate">
    <h3 class="list-view-h3">{{testData.key}}</h3>
    <div *ngFor="let data of testData.value">
        <div class="content-box">
            <div class="icon">
                <img src="{{data.subjectPhotoUrl}}" class="img-circle" alt="icons">
            </div>
            <div class="text-area">
                <h4>{{data.title}}</h4>
                <p>{{data.description}}</p>
            </div>
            <div class="user-detail">
                <div class="avtar">
                    <img src="{{data.instructorPhotoUrl}}" class="img-circle" alt="avtar">
                    <strong>{{data.instructorName}}</strong>
                </div>
            </div>
            <div class="view-time"><strong>6:00 PM - 7:00 PM EDIT</strong></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>