

.content-box {
    float: left;
    width: 100%;
    display: table;
    border-bottom: 1px solid #e8ecec;
    padding: 20px 15px;
    background: #FFFFFF;
}

.icon {
    display: table-cell;
    vertical-align: top;
}
.icon img {
    max-width: 60px;
}
.text-area {
    display: table-cell;
    width: 50%;
    padding: 0 15px;
    vertical-align: top;
}
.text-area h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 6px;
}
.user-detail {
    display: table-cell;
    padding: 0 15px;
    vertical-align: top;
}
.avtar {
    color: #666666;
    font-size: 14px;
}

.list-view-h3 {
    color: #666666;
    font-size: 18px;
    margin: 30px 0 12px;
}
.avtar img {
    max-width: 60px;
    margin-right: 10px;
    vertical-align: top;
}
.view-time {
    display: table-cell;
    vertical-align: top;
    color: #666666;
    font-size: 14px;
    width: 20%;
}

/*-- Device --*/

@media (max-width: 767px) {
    .content-box {
        display: block;
    }
    .icon {
        display: block;
        float: left;
        margin-right: 10px;
    }
    .text-area {
        display: block;
        width: 100%;
        padding: 0;
    }
    .user-detail {
        display: block;
        padding: 0;
    }
    .avtar {
        line-height: 55px;
        float: left;
        font-size: 13px;
    }
    .avtar img {
        margin-right: 0px;
    }
    .view-time {
        display: block;
        float: right;
        line-height: 55px;
        font-size: 13px;
        width: auto;
    }
    .padding0 {
        padding: 0;
    }
}

